services:
  app-springboot-postgresql:
    container_name: app-springboot-postgresql
    image: promo88-directory:latest
    build:
      context: .
    ports:
      - 8081:8081
    depends_on:
      - db
    environment:
      - SPRING_DATABASE_URL=jdbc:postgresql://localhost:5432/promo88-directory-db
      - SPRING_DATABASE_USERNAME=gonchis
      - SPRING_DATABASE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_SHOW_SQL=true 

  db:
    container_name: db
    image: postgres
    environment:
      - POSTGRES_USER=gonchis
      - POSTGRES_PASSWORD=password
      - PGDATA=/data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - 5432:5432
    networks:
      - db
    restart: unless-stopped


networks:
  db:
    driver: bridge

volumes:
  db: